extends _layouts/base

block config
    - var page = 'homepage'
    - var site = htmlWebpackPlugin.options //global site data

block content
    .main
        .main__box
            .main__content
                .main__block
                    h1.main__title Получайте доход
                    h2.main__subtitle Сдайте свою недвижимость
                    .main__text Мы возьмем на себя все хлопоты, а вы просто будете регулярно получать денежные переводы на свой счет в банке!

    .page__box

        .forwhom
            .forwhom__box
                .forwhom__title Кому это нужно?
                .forwhom__subtitle Это нужно тем, кто:
                ul.forwhom__list
                    .forwhom__item живет в центре, но не против переехать
                    .forwhom__item уезжает за границу на длительный срок
                    .forwhom__item не хотите вникать в суть риэлторства


        .whatisit
            .whatisit__box
                h2.whatisit__title Что такое #{domain}?
                .whatisit__text #{domain} - это сервис, который устраняет лишние хлопоты и помогает решить ваши задачи.

        .include
            h2.include__title Что входит в услуги сервиса?
            h3.include__subtitle Мы берем на себя все обязанности, связанные с управлением недвижимостью.
            ul.include__list
                li.include__item Находим клиентов
                li.include__item Оформляем необходимые документы
                li.include__item Следим за состоянием объектов
                li.include__item Улучшаем состояние объектов
                li.include__item Удовлетворяем запросы арендаторов
                li.include__item Своевременно делаем выплаты своим клиентам

        .howitworks
            h2.howitworks__title Как это работает?
            ul.howitworks__list
                li.howitworks__item Вы оформляете доверенность на сдачу вашего объекта нашим сотрудником*
                    span Доверенность фактически говорит, что наш сотрудник является вашим доверенным лицом, и может сдавать ваш объект в наем, но не распоряжаться им полностью.
                li.howitworks__item Мы начинаем ежемесячно выплачивать вам вознаграждение за сдачу вашей недвижимости.

        .pricedetect
            h2.pricedetect__title Как определяется стоимость объекта недвижимости?
            .pricedetect__text Для определения стоимости мы пользуемся базой крупнейшего ресурса по аренде недвижимости cian. В автоматическом режиме делается запрос, содержащий данные по вашему объекту, в результате обработки запроса cian выдает нам актуальную стоимость.

        .testimonials
            h2.testimonials__title Отзывы
            ul.testimonials__list
                li.testimonials__item
                    .article
                        h4.article__name Наталья
                        p Мы с мужем купили квартиру в Паттайе(Тайланд), но продавать жилье в Москве не хотели, поэтому решили сдать квартиру. Но поняли, что это не просто - надо искать клиентов, проверять что они не разрушили наш дом и вообще, чтоб регулярно платили. Да и приезжать в россию за деньгами не хотелось, поэтому обратились в #{domain}. Мы довольны!
                li.testimonials__item
                    .article
                        h4.article__name Максим
                        p Купил жилье в португалии, живу там по несколько месяцев, пока меня там нет за квартирой присматривает и сдает знакомая, а в россии, пока меня нет всем занимаются ребята из #{domain}.
                li.testimonials__item
                    .article
                        h4.article__name Татьяна
                        p У меня есть вторая квартира, я пыталась ее сдавать сама, но после первого раза желание отпало! Мне полностью ее уделали за 3 месяца! Я решила не делать ремонт, а обратилась в #{domain}, через какое-то время мне показали фотографии квартиры, там сделан ремонт, кое-какая техника появилась. В общем сейчас меня не беспокоит состоние квартиры, потому, что я знаю, что если что-то случится, то ребята из #{domain} все приведут в порядок.
                li.testimonials__item
                    .article
                        h4.article__name Кирилл Липхер
                        p Живу в бельгии, есть пара объектов в москве, отдал на управление в #{domain}, деньги ежемесячно поступают на карту.


        .conditions
            .conditions__box
                h2.conditions__title Условия
                ul.conditions__blocks
                    li.conditions__block
                        .article
                            h3.article__name Периодически:
                            ul.article__list
                                li.article__item Срок сдачи: во время отсутствия хозяина
                                li.article__item Оплата идет только во время съема жилья, с вычетом комисси брокера
                            .article__price комиссия: 30%
                    li.conditions__block
                        .article
                            h3.article__name Стандарт:
                            ul.article__list
                                li.article__item Срок сдачи: от года
                                li.article__item Оплата идет только во время съема, с вычетом налогов и комисси брокера
                            .article__price комиссия: 30%
                    li.conditions__block
                        .article
                            h3.article__name Посуточно:
                            ul.article__list
                                li.article__item Производится уборка помещения и подготовка к следующему заезду
                                li.article__item Оплата идет с вычетом за уборку и комисси брокеру
                            .article__price комиссия: 30%
                    li.conditions__block
                        .article
                            h3.article__name Инвестор:
                            ul.article__list
                                li.article__item В помещение производится ремонт за счет брокера
                                li.article__item Брокер осуществляет сдачу на свое усмотрение
                                li.article__item Оплата идет 50% от стоимости аренды, не зависимо - сдается помещение или нет
                            .article__price комиссия: 50%


